<h1>Product Homepage</h1>

<p><% @products.each do |product| %></p>
  <ul>


  <li> <%= product.name %> </li>
    <ul>
      <li>$<%= product.price_in_cents/100 %></li>
      <li><%= product.description  %></li>
      <li><%= link_to("Product Page", "/products/#{product.id}") %></li>

    </ul>
  </ul>

<% end %>

<h2><a href="#">Create New</a></h2>
